<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary tj-nav">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/images/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let menuItem of menu" class="nav-item">
          <a class="nav-link" [routerLink]="menuItem.link" routerLinkActive="active-link">
            {{ menuItem.title }}
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " routerLink="/services" routerLinkActive="active-link">
            Our Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>