<div class="ftr">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Address</h5>
                Taj Al Taqwa Facilities Management Services,<br>
                Dubai, UAE <br>
                Phone: +971 525754276 <br>
                Email: info@tajaltaqwa.com <br>
            </div>
            <div class="col-md-4">
                <h5>Company</h5>
                <a href="/about">About Us</a><br>
                <a href="/services">Our Services</a><br>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="col-md-4">
                <h5>Newsletter</h5>
                <form class="row g-3">
                    <div class="col-auto">
                      <label for="inputPassword2" class="visually-hidden">Your Email</label>
                      <input type="email" class="form-control" id="inputPassword2" placeholder="Your Email">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Subscribe</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>