<div class="about">
    <div class="h-title">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
    <div class="container">
        <p><b>Company Name:</b> Taj Al Taqwa Facilities Management Services </p>
        <p><b>Overview:</b> Taj Al Taqwa Facilities Management Services is a UAE-based company that specializes in
            providing professional facilities management services to a diverse range of clients across various
            industries. The company has a team of experienced professionals who are committed to providing the highest
            quality of services to meet the needs of their clients.</p>
        <p><b>Mission Statement:</b> Taj Al Taqwa Facilities Management Services is committed to delivering innovative
            and efficient solutions to meet the diverse needs of our clients. We strive to achieve excellence in all
            aspects of our
            operations while maintaining the highest standards of professionalism and integrity.</p>
    </div>
</div>