<div class="services">
    <div class="h-title">
        <div class="container">
            <h2>Our Services</h2>
        </div>
    </div>
    <div class="container">
        <p><b>Taj Al Taqwa Facilities Management Services provides a comprehensive range of services, including: </b>
        </p>
        <p><b>Maintenance Services:</b> Taj Al Taqwa Facilities Management Services provides a wide range of maintenance
            services, including electrical, plumbing, HVAC, and carpentry.</p>
        <p><b>Cleaning Services:</b> The company offers a variety of cleaning services, including general cleaning, deep
            cleaning, and specialized cleaning services for various industries.</p>
        <p><b>Landscaping Services:</b> Taj Al Taqwa Facilities Management Services provides landscaping services, including
            gardening, lawn maintenance, and irrigation services.</p>
        <p><b>Security Services:</b> The company offers security services, including manned guarding, CCTV surveillance, and
            access control systems.</p>
    </div>
</div>