<div class="h-banner">
    <img src="../../assets/images/img01.webp" alt="">
    <div class="h-banner-txt">
        <div>
            <h2>"Efficiency. Excellence. Experience."</h2>
            <h1><b>Taj Al Taqwa</b> Facilities Management L.L.C is a UAE-based company that specializes in providing
                professional facilities management services to a diverse range of clients across various industries.
            </h1>
        </div>
    </div>
</div>
<div class="h-service">
    <div class="container">
        <h2>Our services</h2>
        <ul>
            <li>
                <span>Icon</span>
                <h4>Maintenance Services</h4>
            </li>
            <li>
                <span>Icon</span>
                <h4>Cleaning Services</h4>
            </li>
            <li>
                <span>Icon</span>
                <h4>Landscaping Services</h4>
            </li>
            <li>
                <span>Icon</span>
                <h4>Security Services</h4>
            </li>
            <li>
                <span>Icon</span>
                <h4>Construction Services</h4>
            </li>
        </ul>
        <div class="more-btn">
            <a href="/services">Know More</a>
        </div>
    </div>
</div>

